name: Build Linux Packages

on:
  workflow_dispatch:
    inputs:
      package_version:
        description: "Version of the package"
        required: true
        default: "0.1a1"

jobs:
  build_linux_packages:
    name: Build Linux Packages
    runs-on: nod-ai-shared-cpubuilder-manylinux-x86_64
    strategy:
      fail-fast: true
    env:
      CACHE_DIR: ${{ github.workspace }}/.container-cache
    steps:
      - name: "Checking out repository"
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      # - name: Enable cache
      #   uses: actions/cache/restore@v3
      #   with:
      #     path: ${{ env.CACHE_DIR }}
      #     key: linux-build-manylinux-v1-${{ github.sha }}
      #     restore-keys: |
      #       linux-build-test-cpp-

      - name: Fetch sources
        run: |
          ./fetch_sources.sh

      - name: Apply patches
        run: |
          ./apply_patches.sh

      # - name: Build packages
      #   run: |
      #     export cache_dir="${{ env.CACHE_DIR }}"
      #     bash build_tools/ci/build_test_cpp.sh

      # - name: Save cache
      #   uses: actions/cache/save@v3
      #   if: always()
      #   with:
      #     path: ${{ env.CACHE_DIR }}
      #     key: linux-build-manylinux-v1-${{ github.sha }}
