name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:

permissions:
  contents: read

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  build_linux_packages:
    permissions:
      id-token: write
    name: Build Linux Packages
    uses: ./.github/workflows/build_linux_packages.yml

  build_windows_packages:
    name: Build Windows Packages
    uses: ./.github/workflows/build_windows_packages.yml

#  test_linux_packages:
#    needs: build_linux_packages
#    name: Test Linux Packages
#    uses: ./.github/workflows/test_linux_packages.yml

  # build_python_packages:
  #   name: Build Python Packages
  #   uses: ./.github/workflows/build_python_packages.yml
